@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <br>
    <a href="/Home/GetWord1">Get Word #1</a>
    <br />
    <a href="/Home/GetWord2">Create a Paragraph</a>
    <br />
    <a href="/Home/GetWord3">Create a Paragraph with styles</a>
    <br />
    <a href="/Home/GetWord4">Create a Paragraph with justification</a>
    <br />
    <a href="/Home/GetWord5">Create a Paragraph with justification</a>

</div>